# server connections
HOMESERVER=https://matrix.servidoret.com
MY_USER_ID=@my-user:servidoret.com
BOT_USER_ID=@bot-name:servidoret.com
BOT_PASSWORD=...

# file system configurations
STORE_DIR=./store_bot-expenses
CREDENTIALS_NAME=credentials.json
DATA_DIR=./downloads
PLOTS_DIR=./plots

# operational defaults
ROOM_IMAGE_FILE=./monthly-expenses_icon.jpg
SUMMARY_ROOM_ID=!GlmvYtypNZQkTjrsgp:servidoret.com
CATEGORIES_FILE="./categories.yaml"
